<table id="exampleEmployeesTable" class="table" >
  <thead style="display: none">
    <tr>
      <th>Id</th>
      <th>Nume angajat</th>
      <th>Data angajarii</th>
      <th>Data incheierii</th>
    </tr>
  </thead>
  <tbody style="display: none">
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
  </tbody>
</table>