<table id="exampleOrdersTable" class="table" >
  <thead style="display: none">
    <tr>
      <th>Id</th>
      <th>Categorie</th>
      <th>Denumire/Tip/Nuanta</th>
      <th>Cant. necesara</th>
      <th>UM</th>
      <th>Cote</th>
      <th>Observatii</th>
    </tr>
  </thead>
  <tbody style="display: none">
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
  </tbody>
</table>