<table id="exampleSuppliersTable" class="table" >
  <thead style="display: none">
    <tr>
      <th>Id</th>
      <th>Nume furnizor</th>
    </tr>
  </thead>
  <tbody style="display: none">
      <tr>
        <td></td>
        <td></td>
      </tr>
  </tbody>
</table>