<div class="row">
  <div class="col-lg-6 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Editeaza utilizator</h4>
        <%= render 'settings-form', user: @user %>
      
          
        </div>
      </div>
    </div>
</div>





