<table id="exampleProjectSituationsTable" class="table" >
  <thead style="display: none">
    <tr>
      <th>Id</th>
      <th>Nume proiect</th>
      <th>Data ff avans</th>
      <th>FF avans</th>
      <th>Data avans</th>
      <th>Avans</th>
      <th>Luna comanda/avans</th>
      <th>An comanda/avans</th>
      <th>Data ff finala</th>
      <th>FF finala</th>
      <th>Data inchidere</th>
      <th>Inchidere</th>
      <th>Luna finalizare/rest de plata</th>
      <th>An finalizare/rest de plata</th>
    </tr>
  </thead>
  <tbody style="display: none">
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
  </tbody>
</table>