<table id="exampleEmployeeSalariesTable" class="table" >
  <thead style="display: none">
    <tr>
      <th>Id</th>
      <th>Nume angajat</th>
      <th>Ian</th>
      <th>Feb</th>
      <th>Mar</th>
      <th>Apr</th>
      <th>Mai</th>
      <th>Iun</th>
      <th>Iul</th>
      <th>Aug</th>
      <th>Sep</th>
      <th>Oct</th>
      <th>Nov</th>
      <th>Dec</th>
    </tr>
  </thead>
  <tbody style="display: none">
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
  </tbody>
</table>