<table id="exampleInvoicesTable" class="table" >
  <thead style="display: none">
    <tr>
      <th>Id</th>
      <th>Descriere</th>
      <th>Categorie</th>
      <th>Nume furnizor</th>
      <th>Nr. factura</th>
      <th>Data factura</th>
      <th>Valoare factura fara TVA</th>
      <th>Valoare pt proiect fara TVA</th>
      <th>Observatii</th>
    </tr>
  </thead>
  <tbody style="display: none">
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
  </tbody>
</table>