<table id="exampleProjectTable" class="table" >
  <thead style="display: none">
    <tr>
      <th>Id</th>
      <th>Nume proiect</th>
      <th>Data inceput</th>
      <th>Data finalizare</th>
      <th>Valoare</th>
      <th>Observatii</th>
    </tr>
  </thead>
  <tbody style="display: none">
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
  </tbody>
</table>