@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "/common/light/variables";
.nav{
  hr{
    border: 1px solid #DDDDDD;
    width: 90%;
    margin: 0.25rem auto 0;
  }
  #indirect_expenses{
    .nav-link.active{
      .menu-title{
        color: rgb(145, 145, 145);
      }
    }
  }
}
table{
  // width: 100%;
}
td{
  // border:1px solid black;
}
.page-link{
  color: #4B49AC;
  &:hover{
    color: #333274;
  }
}
.page-item.active .page-link{
  color: white;
  background-color: #4B49AC;
}
select.form-control {
  background-color: $white;
  color: $darkslategray;
}
select.form-control-lg {
  padding-top: 18px;
}
div.dataTables_scrollBody{
  border-left: 0 !important;
}
tfoot{
  border-bottom: 0 solid white;
}
.table > :not(caption) > * > th{
  background-color: white;
}
// .table > :not(caption) > * > td{
//   border-left: 1px solid lightgray;
// }
// .table > :not(caption) > * > td:last-child{
//   border-right: 1px solid lightgray;
// }
.form-check .form-check-input{
  margin-left: 1em;
  margin-top: 0.75em;
}
.table{
  td{
    &:hover{
        background-color: rgb(240, 240, 240);
    }
  }
  td, th{
    padding: 1.125rem 0.5rem;
  }
}
#indirectExpensesTable, #financialSituationTable, #cashFlowTable, #projectCostsTable, #usersTable{
  td:hover{
    background-color: #fff;
  }
}
.tab-content {
  padding: 1rem 1rem;;
}
table.dataTable{
  margin-bottom: 0!important;
}

.dtsp-searchPane{
  .dtsp-topRow {
    .dtsp-subRow1{
      .dtsp-searchCont{
        .form-control {
         padding: 0.25rem;
        }
        .dtsp-searchButtonCont{
          .btn{
            padding: 0.25rem;
            border-radius: 4px;
          }
        }
      }
    }
    .dtsp-subRow2{
      .btn-group{
        .btn{
          padding: 0.25rem;
        }
      }
    }
  }
  .dataTables_wrapper{
    .dataTables_scroll{
      .dataTables_scrollBody{
        .dataTable{
          tbody{
            .dtsp-nameColumn{
              .dtsp-nameCont{
                .badge{
                  min-width: 20px;
                  line-height: 1em;
                }
              }
            }
          }
        }
      }
    }
  }
}