@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "/common/light/variables";
.nav{
  hr{
    border: 1px solid #DDDDDD;
    width: 90%;
    margin: 0.25rem auto 0;
  }
  #indirect_expenses{
    .nav-link.active{
      .menu-title{
        color: rgb(145, 145, 145);
      }
    }
  }
}
table{
  // width: 100%;
}
td{
  // border:1px solid black;
}
.page-link{
  color: #4B49AC;
  &:hover{
    color: #333274;
  }
}
.page-item.active .page-link{
  color: white;
  background-color: #4B49AC;
}
select.form-control {
  background-color: $white;
  color: $darkslategray;
}
div.dataTables_scrollBody{
  border-left: 0 !important;
}
tfoot{
  border-bottom: 0 solid white;
}