<table id="exampleSupplierInvoiceTable" class="table" >
  <thead style="display: none">
    <tr>
      <th>Id furnizor</th>
      <th>Nume furnizor</th>
      <th>Numar factura</th>
      <th>Suma factura</th>
      <th>Data emiterii</th>
      <th>Data scadenta</th>
    </tr>
  </thead>
  <tbody style="display: none">
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
  </tbody>
</table>