<table id="exampleProjectCostsTable" class="table" >
  <thead style="display: none">
    <tr>
      <th>Id</th>
      <th>Nume proiect</th>
      <th>Cost</th>
      <th>Luna cost</th>
      <th>An cost</th>
    </tr>
  </thead>
  <tbody style="display: none">
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
  </tbody>
</table>