<table id="exampleCarsTable" class="table" >
  <thead style="display: none">
    <tr>
      <th>Id</th>
      <th>Nr inmatriculare</th>
      <th>Data expirare Rca</th>
      <th>Data expirare Rovinieta</th>
      <th>Data expirare Itp</th>
    </tr>
  </thead>
  <tbody style="display: none">
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
  </tbody>
</table>